language: node_js
node_js:
- 0.10.31
before_install: npm install -g npm@'>=2.13.5'
notifications:
  email:
    recipients:
    - tates001@gmail.com
    on_success: always
    on_failure: always
deploy:
  provider: npm
  email: tates001@gmail.com
  api_key:
    secure: $API_KEY
  on:
#    tags: true
    branch: master
